<!DOCTYPE HTML>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title> Шаблон таблицы</title>

  <link rel="import" name="widget1" href="/widgets/widget_sh_1/">
  <!-- <link rel="import" name="widget2" href="/widgets/widget2/"> -->

</head>

<body>


<h2>Шаблон2 страницы, теневой  dom</h2>

<table-users></table-users>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script type="text/javascript">

  // var content = document.querySelector('table-users');
  // console.log(content);
  // var element = content.getElementById("button");

  let oleg = new Oleg();
  //oleg.hello();

  oleg1();

</script>

</body>
</html>